{
  "extends": "airbnb-base",
  "rules": {
    "arrow-parens": [
      2,
      "as-needed"
    ],
    "comma-dangle": [
      2,
      "never"
    ],
    "no-console": 0,
    "no-continue": 0,
    "no-restricted-syntax": [
      2,
      "LabeledStatement",
      "WithStatement"
    ]
  }
}